Implement VERSION property

According to validator: RFC 5545 3.6. Calendar Components
According to assignment: (section 3.7.4 of RFC 5545)